.peraza {
    font-size: 100px;
     color: brown;
}

body {
   background-color: lab(92.51% -6.02 15.31);
 }


 .image-box {
   display: flex;
 }

 ol {
   list-style-type: upper-roman;
 }

 .mary {
   width: 400px;
   position: relative;
   margin-left: 300px;

 }

 .text2 {
 
display: flex;
  text-decoration: none;
  font-size: 100px;
  background-color: brown;
  border-radius: 20px;
  position: absolute;
  margin-left: 635px;
  color: black;
  margin-top: 200px;

 }

 .tercera {
  background-color: brown;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  margin-left: 700px;
  font-size: 100px;
 }