#fotito-too-guapa {
    width: 300px;
    
}

body {
     background-color: lab(92.51% -6.02 15.31);
}

.home-link {
    background-color: brown;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
    color:blanchedalmond;
    display: flex;
    justify-content: center;
    font-size: larger;
}