.peraza {
    font-size: 100px;
     color: brown;
}

body {
   background-color: lab(92.51% -6.02 15.31);
 }


 .image-box {
   display: flex;
 }

 ol {
   list-style-type: upper-roman;
 }

 .mary {
   width: 400px;
   position: relative;
   posit

 }