.titulo {
    font-size: 120px;
    color: brown;
}
 img {
    width: 400px;
    margin-right: 100px;
 }

 .text1 {
    font-size: 100px;
 }

 body {
   background-color: lab(92.51% -6.02 15.31);
 }

 .beto {
   margin-right: 34px;
   
 }

 .my-container {
   display: flex;
  margin-left: 900px;
  
 }

 .betopollo {
   text-align: center;
  display: flex;
  position: center;
  whidt: 400px;

 }

 h1, p {
   text-align: center;
 }

 .titulo {
   text-align: center;
 }

 .my-container {
   margin: center;
 }

 .text, p {
  display: flex;
  text-decoration: none;
  font-size: 200px;
  background-color: brown;
  border-radius: 20px;
  position: absolute;
  margin-left: 500px;
  color: black;
  margin-top: 200px;
 }