.titulo {
    font-size: 120px;
    color: brown;
}
 img {
    width: 400px;
    margin-right: 100px;
 }

 .imajen {
    margin-right: 400px;
 }

 .text1 {
    font-size: 100px;
 }

 body {
   background-color: rgb(234, 236, 204);
 }

 .beto {
   margin-right: 500px;
   
 }

 .my-container {
   display: flex;
  margin-left: 900px;
  
 }

 .betopollo {
  display: flex;
  position: center;

 }